/* CUSTOM CSS */

html, body {
    height: 100%;
    line-height: 1.5;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: #37474f;
    background-color: #f7f7f7;
}

body {
    display: flex;
    flex-direction: column;
}

.content{
    flex: 1 0 auto;
}

h1 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 100%;
    margin: 1.8rem 0 1.68rem 0;
}

h2 {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 100%;
    margin: 1.8rem 0 1.68rem 0;
}

.bolder{
    font-weight: bolder;
}

.brand-logo {
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 260px;
}

.card{
    border-radius:6px
}

.card .card-title {
    font-size: 24px;
    font-weight: 800;
}

.card .card-action {
    border-top: none;
    margin-top:2rem;
}

.card .card-content{
    padding:1rem;
}

.card .card-image {
    height:200px;
    width:200px;
    margin-bottom: 1rem;
}

.pokedex{
    /* min-height: 200px; */
    cursor: pointer;
}

.pikaload{
    width:250px;
    border-radius: 6px;
}

.description{
    color: #607d8b;
    font-size: 12px;
    font-weight: 500;
    line-height: .96rem;
    margin-bottom: .69rem !important;
}

.chip {
    height: 1.2rem;
    padding: 0 8px;
    border-radius: 3px;
    line-height: 16px;
    margin: .12rem;
    float: left;
    text-transform: none;
    font-size: .8rem;
    text-align: center;
}

input:not([type]){
    font-weight:600;
}

.pokemon-login{
    margin-top:-5rem;
    width:25rem;
}

.pokemon-error{
    margin-top:-5rem;
    width:15rem;
}

.mt-4{
    margin-top: 4em;
}

.mb-2{
    margin-bottom: 2rem;
}

.mx-1{
    margin: 0 .25rem 0 .25rem;
}

.mxy{
    margin: .5rem;
}

.px-2{
    padding-right: 2rem;
    padding-left: 2rem;

}

.collection {
    border: none;
}

.name{
    font-size: 1.5rem;
    font-weight: 800;
    color:#263238;
}

.footer {
    flex-shrink: 0;
    margin: 0;
    padding: 40px 0 0 0px;
    text-align: center;
    color: #b0bec5;
    background-color: #f7f7f7;
}