<div class="center mxy">
	<a href="/pokemons" class="brand-logo center">
		<img src="assets/img/logo.svg">
	</a>
</div>

<!-- Permet de définir où le template des composants fils sera injecté -->
<router-outlet></router-outlet>
