<div *ngIf="pokemon" class="row">
	<div class="col s0 m1 l2"></div>
	<div class="col s12 m8 l8">
		<h2 class="header center">{{ pokemon.name }}</h2>
		<div class="card horizontal">
			<div class="card-image">
				<img [src]="pokemon.picture">
			</div>
			<div class="card-stacked">
				<div class="card-content">
					<table class="bordered striped">
						<tbody>
							<tr>
								<td>Nom</td>
								<td><strong>{{ pokemon.name }}</strong></td>
							</tr>
							<tr>
								<td>Description</td>
								<td><strong>{{ pokemon.description }}</strong></td>
							</tr>
							<tr>
								<td>Points de vie</td>
								<td><strong>{{ pokemon.hp }}</strong></td>
							</tr>
							<tr>
								<td>Dégâts</td>
								<td><strong>{{ pokemon.cp }}</strong></td>
							</tr>
							<tr>
								<td>Types</td>
								<td>
									<span *ngFor="let type of pokemon.types" class="{{ type | pokemonTypeColor }} bolder">{{
										type }}</span>
								</td>
							</tr>
							<tr>
								<td>Date de création</td>
								<td><em>{{ pokemon.created | date:"dd/MM/yyyy" }}</em></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="card-action">
					<a (click)="goBack()" class="btn waves-effect waves-light blue-grey lighten-3 mx-1 mxy"><i class="material-icons left">arrow_back</i>Retour</a>
					<a (click)="goEdit(pokemon)" class="btn waves-effect waves-light light-blue darken-1 mxy"><i class="material-icons left">create</i>Editer {{ pokemon.name }}</a>
					<a (click)="delete(pokemon)" class="btn waves-effect waves-light red lighten-1 mxy"><i class="material-icons left">delete</i>Supprimer</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col s0 m1 l2"></div>
</div>
<h4 *ngIf='!pokemon' class="center">
	<pkmn-loader></pkmn-loader>
</h4>
  