<div class="center">
    <h1>Pokédex</h1>
</div>

<div class="container">
    <div class="row">
        
        <pokemon-search></pokemon-search>

        <div *ngFor="let pokemon of pokemons" class="col s12 m6 l4">
            <div class="card horizontal pokedex hoverable" (click)="selectPokemon(pokemon)" pkmnBorderCard title="Ajouté le {{ pokemon.created | date:'dd/MM/yy' }}">
                <div class="card-image">
                    <img [src]="pokemon.picture"/>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p class="name">{{ pokemon.name }}</p>
                        <p class="description">{{ pokemon.description }}</p>
                        <p><span *ngFor="let type of pokemon.types" class="{{ type | pokemonTypeColor }} bolder">{{ type }}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>