.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #80cbc4; padding-left: .25rem;/* bordure valid */
  }
  
  .ng-invalid:not(form) {
    border-left: 5px solid #ff8a65; padding-left: .25rem; /* bordure error */
  }
  